@import "../../utils/variables";

.initial {
  &-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &--bg {
      &-left,
      &-right {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: $main-font-color;
      }

      &-left {
        left: 0;
      }

      &-right {
        right: 0;
      }
    }

    &--center {
      width: 500px;
      height: 500px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      transform: scale(0);
      animation: goto-load 0.20225424859s ease-in forwards;

      > p {
        color: $app-bg-color;
        font-size: 4rem;
        font-weight: 300;
        text-align: center;
      }

      svg {
        color: $app-bg-color;
      }

      &-circle {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid $app-bg-color;
        border-radius: 50%;
      }
    }

    &--cta {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      button {
        cursor: pointer;
        border: none;
        background: none;
        font-family: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $app-bg-color;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        z-index: 100;
      }
    }
  }
}

.loop-loading {
  .initial-loader {
    &--center {
      svg {
        animation: loop-circle 1.61803398875s ease-in-out infinite;
      }

      &-circle {
        animation: loop-circle 1.61803398875s ease-in-out infinite;
      }
    }

    &--cta {
      display: none;
    }
  }
}

.complete {
  .initial-loader {
    &--center {
      animation: hide-item 1.61803398875s ease-in-out forwards;
    }

    &--cta {
      animation: show-cta 0.80901699437s ease-out forwards;
    }
  }
}

.hide-loader {
  .initial-loader {
    &--center {
      svg,
      p,
      &-circle,
      button {
        display: none;
      }
    }

    &--bg {
      &-left {
        animation: hide-left 1.61803398875s ease-in-out forwards;
      }

      &-right {
        animation: hide-right 1.61803398875s ease-in-out forwards;
      }
    }
  }
}

@keyframes goto-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes show-cta {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hide-item {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes loop-circle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide-left {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
  }
}

@keyframes hide-right {
  0% {
    transform: scaleX(1);
    transform-origin: left;
  }

  100% {
    transform: scaleX(0);
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
  .initial-loader {
    &--center {
      width: 300px;
      height: 300px;

      > p {
        font-size: 2rem;
      }
    }

    &--cta {
      button {
        font-size: 0.5rem;
      }
    }
  }
}
