@import '../../utils/variables';

.initial {
  &-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $app-bg-color;
    background-image: url("../../assets/images/other/bg-main.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;

    .loading {
      img {
        width: 80px;
        margin-top: 20px;
        opacity: 0.8;
      }
    }
    
    &-goto {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      transform: scale(0);
      animation: goto-load 500ms ease-in forwards;
      opacity: 0.7;

      button {
        cursor: pointer;
        border: none;
        background: none;
        font-family: inherit;
        transition: color 300ms ease-in;
        display: flex;
        flex-direction: column;
        align-items: center;
          
        p {
          color: black;
        }

        svg {
          fill: black;
          font-size: 25px;
        }
        
        :nth-child(3) {
          animation: arrow-animation 600ms ease-in-out infinite;
        }
      }
    }
  }
}

@keyframes goto-load {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes arrow-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}