@import "../../../utils//variables";

.about {
  display: flex;
  flex-direction: column;
  align-self: center;
  animation: about-load $about-load-time ease-in-out;

  p {
    font-size: 50px;
    letter-spacing: 2px;
    margin: 20px 0;
  }

  &-image {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid $main-font-color;
    border-radius: 50%;
    background-color: $app-bg-color;
    align-self: center;
    cursor: pointer;
    z-index: 1;

    img {
      width: 65%;
      height: 85%;
      position: absolute;
      top: 8%;
      left: 17%;
    }
  }

  &-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $app-main-light-color;
    transform: scale(0);
    transition: transform ease-in-out 300ms;
    border-radius: 50%;
    z-index: -1;
  }

  &-image:hover::before,
  &-image:focus::before {
    transform: scale(1);
  }
}

@keyframes about-load {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes about-image-load {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
