@import "../../../utils//variables";

.home-hero {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  
  .hero {
    &-draws {
      flex: 3;
      animation: hero-load 1000 ease-in-out; 
    }
    
    &-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      z-index: 100;
      
      &-top {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: 2;

        .main-title {
          align-self: flex-end;
        }

        .bike {
          cursor: pointer;
          position: absolute;
          width: 30px;
          top: 4%;
          left: 44%;
          animation: bike-load 1200ms ease-in infinite;
        }
        
        .bike-click {
          animation: bike-click 28000ms ease-in forwards;
        }
        
        .rainbow {
          display: none;
          position: absolute;
          width: 40px;
          top: 13%;
          left: 32%;
          opacity: 0.7;
          animation: rainbow-show 2400ms ease-in forwards;
        }
      }

      &-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: hero-bottom-load $hero-bottom-load-time ease-in;
        animation-fill-mode: forwards;
        flex: 1;
  
        p {
          text-align: center;
        }
  
        p:nth-child(1) {
          animation: hero-bottom-laod-subtitle 1200ms ease-in;
          animation-fill-mode: forwards;
          color: $secondary-font-color;
          font-size: 21px;
          font-weight: lighter;
        }
  
        p:nth-child(2) {
          font-size: 18px;
          font-weight: bold;
          align-self: baseline;
          padding: 0 30px;
        }
      }

      &-bottom {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: scale(0);
        animation: connection-me-load 800ms ease-in-out forwards;
        flex: 3;

        .connection-me {
          position: relative;
          
          .ladder {
            width: 50px;
          }
          
          .guy-small {
            width: 40px;
            position: absolute;
            left: 0%;
            bottom: -37%;
            cursor: pointer;
            animation: small-guy 1500ms ease infinite;
          }
        }

        .arrow {
          position: absolute;
          right: 15%;
          top: 50%;
          width: 40px;
          align-self: flex-end;
        }

        .button-arrow {
          width: 140px;
          height: 55px;
          transform: scale(1);
          transition: 300ms ease-in;

          .shark {
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            opacity: 0.7;
          }
            
          button {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            border: none;
            cursor: pointer;
            z-index: 1;
            background: transparent;
            box-shadow: -3px 3px 1px #f2b090;
            transform: scale(0);
            animation: button-load 1000ms ease-in-out forwards;

            .button-border {
              width: 100%;
              position: absolute;
            }

            span {
              font-size: 12px;
              color: $main-font-color;
              letter-spacing: 0.5px;
            }
          }
        }

        .button-arrow::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          transform: scale(1);
          width: 100%;
          height: 73%;
          z-index: -1;
          background: black;
          opacity: 0.05;
        }

        .button-arrow:hover,
        .button-arrow:focus {
          transform: scale(1.1);
        }
      }

      .tooltip {
        top: 12%;
        left: 40%;
      }
    }
  }
}

@keyframes hero-load {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hero-top-load {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hero-bottom-load {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hero-bottom-laod-subtitle {
  0% {
    letter-spacing: 11px;
  }

  50% {
    letter-spacing: 5px;
  }

  100% {
    letter-spacing: 1px;
  }
}

@keyframes button-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes connection-me-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes small-guy {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bike-load {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bike-click {
  0% {
    transform: translate(0, 0);
  }
  
  100% {
    transform: translate(200px, -100px);
  }
}

@keyframes rainbow-show {
  0% {
   transform: translate(0, 0) scale(0);
  }

  50% {
    transform: scale(4);
  }

  100% {
    transform: translate(-200px, 100px) scale(0);
  }
}

/* ----------- Celullar ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 900px) {
    .home-hero {
      flex-direction: column;

      .hero {
        &-section {
          &-top {
            .logo {
              margin-bottom: 10%;
            }

            .bike {
              top: -5%;
            }
          }

          &-middle {
            margin-top: 10%;
          }

          &-bottom {
            .connection-me {
              margin-bottom: 20%;
            }
          }

          .tooltip {
            top: 67%;
            left: 32%;
          }
        }

        &-draws {
          margin-top: 15%;
        }
      }
    }
  }

/* ----------- Tablets ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 812px) 
  and (max-width: 1280px)
  and (orientation: 'landscape') {
    .home-hero {
      // flex-direction: column;
    }
  }

  @media only screen 
  and (min-width: 812px) 
  and (max-width: 1280px)
  and (orientation: 'portrait') {
    .home-hero {
      flex-direction: column;
    }
  }


