@import "../../../utils//variables";

.home-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;

  .hero {
    &-draws {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex: 3;
      animation: hero-load 1000ms ease-in-out;
    }

    &-section {
      flex: 1;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &-top {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: 2;

        .main-title {
          align-self: flex-end;
        }

        .bike {
          cursor: pointer;
          position: absolute;
          width: 20px;
          top: 7%;
          left: 44%;
          animation: bike-load 1200ms ease-in infinite;
        }

        .bike-click {
          animation: bike-click 40000ms ease-in forwards;
        }
      }

      &-middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: hero-bottom-load $hero-bottom-load-time ease-in;
        animation-fill-mode: forwards;
        flex: 1;

        p {
          text-align: center;
        }

        p:nth-child(1) {
          animation: hero-bottom-laod-subtitle 1200ms ease-in;
          animation-fill-mode: forwards;
          font-size: 21px;
          font-weight: lighter;
        }

        p:nth-child(2) {
          font-size: 18px;
          font-weight: bold;
          align-self: center;
          padding: 0 30px;
        }
      }

      &-bottom {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: scale(0);
        animation: connection-me-load 800ms ease-in-out forwards;
        flex: 3;

        .connection-me {
          position: relative;

          .ladder {
            width: 50px;
          }

          .guy-small {
            width: 40px;
            position: absolute;
            left: 0%;
            bottom: -37%;
          }
        }

        .arrow {
          position: absolute;
          right: 15%;
          top: 50%;
          width: 40px;
          align-self: flex-end;
        }

        .button-arrow {
          width: 140px;
          height: 55px;
          transform: scale(1);
          transition: 300ms ease-in;

          .shark {
            width: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            opacity: 0.7;
          }

          button {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            border: none;
            cursor: pointer;
            z-index: 1;
            background: transparent;
            box-shadow: -3px 3px 1px #f2b090;
            transform: scale(0);
            animation: button-load 1000ms ease-in-out forwards;

            .button-border {
              width: 100%;
              position: absolute;
            }

            span {
              font-size: 12px;
              font-weight: bold;
              color: $main-font-color;
              letter-spacing: 0.25px;
            }
          }
        }

        .button-arrow::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          transform: scale(1);
          width: 100%;
          height: 73%;
          z-index: -1;
          background: black;
          opacity: 0.05;
        }

        .button-arrow:hover,
        .button-arrow:focus {
          transform: scale(1.1);
        }
      }

      .tooltip {
        top: 40%;
        left: 19%;
        z-index: 100;
      }
    }
  }
}

@keyframes hero-load {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hero-top-load {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hero-bottom-load {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hero-bottom-laod-subtitle {
  0% {
    letter-spacing: 11px;
  }

  50% {
    letter-spacing: 5px;
  }

  100% {
    letter-spacing: 1px;
  }
}

@keyframes button-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes connection-me-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes small-guy {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bike-load {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bike-click {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(2000px, -1000px);
  }
}

/* ----------- Celullar ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 375px) and (max-width: 900px) {
  .home-hero {
    flex-direction: column;
    transform: rotate(90deg);

    .hero {
      &-section {
        display: none;

        &-top {
          .logo {
            margin-bottom: 10%;
          }

          .bike {
            top: -1%;
          }
        }

        &-bottom {
          .connection-me {
            margin-bottom: 20%;
          }
        }

        .tooltip {
          top: 47%;
          left: 20%;

          &-personal {
            font-size: 16px;
          }
        }
      }

      &-draws {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 812px) and (orientation: "landscape") {
  .home-hero {
    transform: rotate(90deg);

    .hero {
      &-section {
        display: none;

        &-middle {
          width: 55%;
        }

        .tooltip {
          top: 18%;
          left: 50%;
        }
      }
    }
  }
}

/* ----------- Tablets ----------- */

/* Portrait and Landscape */
@media only screen and (min-width: 812px) and (max-width: 1280px) and (orientation: "landscape") {
  .home-hero {
    .hero {
      &-section {
        display: none;

        &-top {
          .bike {
            top: -5px;
            left: 44%;
          }
        }

        &-bottom {
          .connection-me {
            margin-bottom: 15%;
          }

          .arrow {
            right: 30%;
          }
        }

        .tooltip {
          top: 35%;
        }
      }
    }

    &-draws {
      margin-bottom: 50px;
    }
  }
}

@media only screen and (min-width: 812px) and (max-width: 1280px) and (orientation: "portrait") {
  .home-hero {
    flex-direction: column;

    .hero {
      &-section {
        display: none;

        &-top {
          .logo {
            width: 200px;
          }

          .bike {
            top: -2%;
          }
        }

        &-middle {
          margin: 20px;

          p:nth-child(1) {
            max-width: 75%;
            font-size: 25px;
          }
        }

        &-bottom {
          .connection-me {
            margin-bottom: 12%;
          }
        }

        .tooltip {
          top: 23%;
          left: 35%;

          &-personal {
            font-size: 16px;
          }
        }
      }

      &-draws {
        margin-bottom: 50px;
      }
    }
  }
}
