.main-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 45px;
  text-align: center;

  p {
    transform: scale(0);
    animation: letter-load 1500ms ease-out forwards;
    margin: 0;
    letter-spacing: 1px;
  }

  p:focus {
    animation: none;
  }

  .i {
    animation-delay: 50ms;
  }

  .comma {
    animation-delay: 100ms;
  }

  .i-uppercase {
    animation-delay: 150ms;
  }

  .aposth {
    animation-delay: 200ms;
  }

  .m {
    animation-delay: 250ms;
  }

  .f {
    cursor: pointer;
    transform: scale(0);
    animation: letter-special 500ms ease-out forwards;
    animation-delay: 300ms;
  }

  .f:focus {
    animation: letter-special 200ms ease-out forwards;
  }

  .f:active {
    animation: none;
  }

  .a {
    animation-delay: 350ms;
  }

  .c {
    animation-delay: 400ms;
  }

  .u {
    animation-delay: 450ms;
  }

  .n {
    animation-delay: 500ms;
  }

  .d{
    animation-delay: 550ms;
  }

  .o {
    animation-delay: 600ms;
  }
}

@keyframes letter-load {
  0% {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes letter-special {
  0% {
    transform: scale(0) rotate(0deg);
  }
  
  100% {
    transform: scale(1) rotate(360deg);
  }
}