.animation {
  position: absolute;
  width: 150px;
}

.fireworks {
	bottom: 50px;
	right: 30%;
  width: 200px;
}

.arrow-right {
	bottom: 50px;
	right: 65%;
  width: 120px;
  opacity: 0.4;
}

.music-notes {
  bottom: 0;
  width: 100px;
}

.strings {
  width: 200px;
  z-index: 9;

  svg {
    opacity: 0.5;
  }
}

.pulse {
  width: 200px;
  
  svg {
    opacity: 0.5;
  }
}


@media only screen and (max-width: 1280px) {
  .arrow-right, .fireworks {
    right: unset;
    left: 50px;
  }
  
  .arrow-right {
    bottom: 100px;
    transform: rotate(90deg);
  }
  
  .fireworks {
    bottom: 50px;
    width: 200px;
  }
}
