.animation {
  position: absolute;
  width: 150px;
}

.fireworks {
	bottom: -30px;
  left: 8%;
  width: 150px;
}

.music {
  bottom: 0;
  width: 100px;
}

.hand {
  top: 40%;
  left: 12%;
  width: 5%;
  z-index: 100;
}

.satellite {
  position: relative;
  transform: scale(0);
  animation: animation-load 600ms ease-in forwards;

  svg {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 1280px) {
  .fireworks {
    right: unset;
    left: 10%;
  }
  
  .fireworks {
    bottom: 50px;
    width: 150px;
  }
}

@keyframes animation-load {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
