.animation {
  position: absolute;
  width: 150px;
}

.fireworks {
	top: 10%;
	right: 30%;
  width: 200px;
}

.arrow-right {
	top: 30%;
	right: 65%;
  width: 120px;
  opacity: 0.4;
}

.music-notes {
  bottom: 0;
  width: 100px;
}