@import "../../../utils//variables";

.avatar {
  align-self: flex-start;
  transform: scale(1);
  transition: transform 200ms ease-in;
  position: absolute;
  bottom: 20%;
  left: 10%;
  z-index: 1;
  cursor: pointer;
  animation: avatar-load 1000ms ease-in-out;
  transform: skew(0deg, -30deg);
  z-index: 99;

  img {
    width: 200px;
  }
}

.avatar:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1280px) {
  .avatar {
    align-self: center;
  }
}

@keyframes avatar-load {
  0% {
    transform: scale(0) skew(0, 0);
    opacity: 0;
  }
  
  100% {
    transform: scale(1) skew(0deg, -30deg);
    opacity: 1;
  }
}
