@import "../../utils/variables";

.contact {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  left: 18%;
  bottom: 24%;
  transform: scale(0) skew(0, 0);
  animation: contact-load 400ms ease-in forwards;
  opacity: 0.7;

  svg {
    stroke: black;
    stroke-width: 2.5px;
  }

  a {
    transform: scale(1);
    transition: all ease-in-out 200ms;
    color: $main-font-color;
  }

  a:hover {
    transform: scale(1.2);
  }
}

@keyframes contact-load {
  0% {
    transform: scale(0) skew(0, 0);
  }

  100% {
    transform: scale(1) skew(-60deg, 30deg);
  }
}

/* Celular */
@media only screen and (min-width: 375px) and (max-width: 812px) {
  .contact {
    min-width: 75px;
    left: 18%;
    bottom: 12%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 844px) and (orientation: "landscape") {
  .contact {
    min-width: 90px;
    left: 23%;
    bottom: 13%;
  }
}
