@import "../utils/variables";

body {
  font-family: $main-font-family;
  margin: 0;
}

.app {
  position: relative;
  display: none;
  width: 100vw;
  min-height: 100vh;
  background-color: $app-bg-color;
  background-image: url("/src/assets/images/other/bg-main.png");
  background-size: contain;
  scroll-behavior: smooth;

  > span {
    position: absolute;
    height: 100vh;
    font-size: 10px;
    top: 0;
    right: 0;
    width: 10px;
    opacity: 0.1;
    overflow-x: hidden;
    font-family: inherit;
  }

  button {
    font-family: inherit;
  }

  p { 
    color: $main-font-color;
  }
}

.animate {
  display: inherit;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 40px 20px 0px;
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 1280px;
  }
}
