//Stetic
$main-font-family: "Roboto", sans-serif;
$main-font-color: #574e4e;
$secondary-font-color: #918484;

//Animations
$nav-load-time: 300ms;
$nav-link-load-time: 500ms;
$hero-load-time: 400ms;
$hero-top-load-time: 700ms;
$hero-bottom-load-time: 800ms;
