@import '../../utils/variables';

footer {
  .contact {
    a {
      position: absolute;
      color: $main-font-color;
      cursor: pointer;
      animation: footer-load 400ms ease-in-out forwards;
      
      svg {
        width: 10px;
        height: 10px;
        animation: link-load 600ms ease-in-out forwards;
        z-index: 2;
      }
      
      img {
        width: 20px;
        transform: scale(0) translate(0, 0);
        animation: social-animation 600ms ease-in-out forwards;
      }
    }
    
    
    .mail {
      bottom: 11%;
      right: 26%;
    }
    
    .github {
      bottom: 15%;
      right: 22%;
    }
    
    .linkedin {
      bottom: 19.5%;
      right: 18.5%;
    }
    
    .whatsapp {
      bottom: 23%;
      right: 15%;
      z-index: 16;
    }
  }
}

@keyframes footer-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes social-animation {
  0% {
    transform: scale(0) translate(0, 0);
  }

  100% {
    transform: scale(5) translate(0, -5px);
  }
}

@keyframes link-load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1) skew(60deg, -30deg);
  }
}

