.still-working {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/src/assets/images/other/bg-main.webp");

  picture {
    img {
      width: 140px;
    }
  }

  p {
    max-width: 75%;
  }
}