.tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  animation: tooltip-open 300ms ease-out forwards;
  background-color: #f4eed0;
  transform : scale(0);
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  border-radius: 10px;
  opacity: 0.8;
  
  &-content {
    max-height: 250px;
    overflow-y: scroll;
  }
  
  &-generic,
  &-personal {
    padding: 5% 15%;
    font-size: 15px;
  }

  &-generic {
    font-weight: bold;
    letter-spacing: 0.5px;
  }

  &-close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
}

@keyframes tooltip-open {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}