.room {
  width: 90%;
  margin: 0 auto;
  position: relative;

  .module {
    &-image {
      position: absolute;
      cursor: pointer;
      
      img {
        width: 100%;
        animation: room-load 800ms ease-in-out;
      }
    }

    &-animation {
      #dsotm {
        position: absolute;
        width: 113%;
        top: -3.5%;
        left: -6.5%;
        animation: room-load 1200ms ease-in-out;
        z-index: 17;
      }

      #key-west {
        position: absolute;
        width: 40%;
        top: 3%;
        left: 0;
        z-index: 0;
      }

      #laptop {
        position: absolute;
        width: 30%;
        top: 25%;
        left: 23.5%;
        z-index: 2;
      }

      #cancion-animal {
        position: absolute;
        width: 100px;
        height: 120px;
        left: 45%;
        bottom: 40%;
        z-index: 20;
        opacity: 0;
        transform: scale(0);
        animation: lion-animation 400ms ease-in-out;
      }

      #artaud {
        position: absolute;
        left: 16%;
        bottom: 72%;
        width: 20%;
        transform: skew(0deg, -30deg) scale(0);
        box-shadow: 0 0 4px 3px #acacac;
        animation: artaud-animation 400ms ease-in-out forwards;
      }
    }

    &-be-patient {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .amp {
    width: 12%;
    top: 47%;
    left: 6%;
    z-index: 1;
    cursor: inherit;
  }

  .artaud {
    width: 8%;
    top: 15%;
    left: 46.5%;
    z-index: 1;
  }

  .base {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0; 
    opacity: 0.5;
    cursor: inherit;
  }

  .cactus {
    width: 7%;
    top: 49%;
    right: 6%;
    z-index: 15;
  }

  .cancion-animal {
    width: 7.5%;
    top: 51.5%;
    left: 62.5%;
    z-index: 17;
  }

  .dsotm {
    width: 8%;
    top: 25%;
    left: 6%;
    z-index: 4;
  }

  .guy {
    width: 27%;
    top: 27%;
    left: 25%;
    z-index: 1;
    cursor: inherit;
  }

  .right-hand {
    width: 3.5%;
    top: 39.5%;
    left: 35.5%;
    z-index: 3;
  }

  .electricity {
    width: 3%;
    top: 52%;
    left: 2%;
    z-index: 1;
    cursor: inherit;
  }

  .eyes {
    width: 3%;
    top: 31%;
    left: 38.6%;
    z-index: 5;
  }

  .key-west {
    width: 6.5%;
    top: 54%;
    right: 32%;
    z-index: 16;
  }

  .lamp {
    width: 5%;
    top: 41%;
    left: 63.5%;
    z-index: 12;
  }

  .laptop {
    width: 11%;
    top: 59%;
    left: 49%;
    z-index: 3;
  }

  .left-speaker {
    width: 7%;
    top: 36%;
    left: 57.5%;
    z-index: 11;
  }

  .little-plant {
    width: 3.2%;
    top: 50%;
    right: 22%;
    z-index: 14;
    cursor: inherit;
  }

  .lupe {
    width: 3%;
    top: 56%;
    right: 27%;
    z-index: 1;
    cursor: inherit;
  }
  
  .plant {
    width: 5%;
    bottom: 45%;
    left: 19%;
    z-index: 1;
    cursor: inherit;
  }

  .plant-top {
    width: 5.5%;
    bottom: 50.5%;
    left: 18.5%;
    z-index: 1;
  }

  .right-speaker {
    width: 7%;
    top: 49%;
    right: 15%;
    z-index: 11;
  }

  .sofa {
    width: 43%;
    bottom: 6%;
    left: 19%;
    z-index: 2;
    cursor: inherit;
  }

  .stand {
    width: 48%;
    top: 2.5%;
    left: 53%;
    z-index: 0;
    cursor: inherit;
  }

  .sunglasses {
    width: 5%;
    top: 58.8%;
    right: 26%;
    z-index: 1;
    cursor: inherit;
  }

  .table {
    width: 27%;
    top: 58%;
    right: 31%;
    z-index: 1;
    cursor: inherit;
  }

  .triangle {
    width: 7%;
    top: 35%;
    right: 21%;
    z-index: 1;
  }

  .turntable {
    width: 13%;
    top: 44%;
    right: 22%;
    z-index: 13;
  }
}


@keyframes eyes-animation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }
  
  100% {
    transform: translateX(0);
  }
}

@keyframes room-load {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes lion-animation {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  
  100% {
    transform: scale(5);
    opacity: 0.6;
  }
}

@keyframes artaud-animation {
  0% {
    transform: skew(0, 0) scale(0);
  }
  
  100% {
    transform: skew(0deg, -30deg) scale(1);
  }
}