.room {
  width: 90%;
  margin: 0 auto;
  position: relative;

  .module {
    &-image {
      position: absolute;
      cursor: pointer;
      
      img {
        width: 100%;
        animation: room-load 800ms ease-in-out;
      }
    }

    &-animation {
      #dsotm {
        position: absolute;
        width: 113%;
        top: -3.5%;
        left: -6.5%;
        animation: room-load 1200ms ease-in-out;
        z-index: 21;
      }

      #key-west {
        position: absolute;
        width: 38%;
        top: 2%;
        left: 2%;
        z-index: 0;
      }

      #hal9000 {
        position: absolute;
        width: 9%;
        top: 59.5%;
        left: 50%;
        z-index: 14;
      }

      #guy-glitch {
        position: absolute;
        width: 20%;
        top: 33.7%;
        left: 31%;
        z-index: 26;
      }

      #cerati {
        position: absolute;
        width: 15%;
        right: 22%;
        top: 34%;
        z-index: 34;
        opacity: 0.5;
        transform: scale(0);
        animation: cerati-animation 500ms ease-in forwards;
      }

      #cancion-animal-vinyl {
        position: absolute;
        width: 10%;
        top: 51%;
        left: 59%;
        z-index: 33;
        transform: translate(20px, -20px);
        animation: ca-vinyl 200ms ease-in forwards;
      }
      
      #artaud {
        position: absolute;
        left: 20%;
        bottom: 72%;
        width: 19%;
        transform: skew(0deg, -30deg) scale(0);
        box-shadow: 0 0 4px 3px #acacac;
        animation: artaud-animation 400ms ease-in-out forwards;
      }

      #triangle {
        position: absolute;
        width: 17%;
        left: 65.5%;
        bottom: 53.5%;
        z-index: 20;
      }

      #turntable {
        position: absolute;
        width: 57%;
        top: 29.7%;
        left: 36.8%;
        z-index: 21;
      }

      #lupe {
        position: absolute;
        width: 35%;
        top: 19%;
        left: 22%;
        z-index: 26;
      }
      
      #moris {
        position: absolute;
        width: 20.5%;
        top: 34.1%;
        left: 30.7%;
        z-index: 35;
      }
      
      #moris-soul {
        position: absolute;
        width: 107.5%;
        top: -3.2%;
        left: -3%;
        z-index: 34;
      }

      #plant-grow {
        position: absolute;
        width: 70%;
        bottom: 8%;
        left: 17%;
        z-index: 1;
      }

      #stalker-dialogue {
        position: absolute;
        width: 50%;
        bottom: 33%;
        left: 23%;
        z-index: 40;
        box-shadow: 0 0 4px 3px #acacac;
        opacity: 0;
        transform: scale(0);
        animation: stalker-display 400ms ease forwards;
      }

      #pedro {
        position: absolute;
        width: 7%;
        top: 48.3%;
        right: 10%;
        z-index: 16;
      }

      #la-biblia-vinyl {
        position: absolute;
        width: 11%;
        bottom: 22%;
        right: 33%;
        z-index: 3;
        transform: translate(0, 0) scale(0);
        animation: la-biblia-vinyl 200ms ease-in forwards;
      }

      #mescal {
        position: absolute;
        width: 60%;
        top: 0;
        left: 0;
        z-index: 30;
        box-shadow: 0 0 4px 3px #acacac;
        transform: scale(0);
        animation: mescal-show 400ms ease forwards;
      }

      #fungi {
        position: absolute;
        width: 5%;
        top: 43%;
        left: 67.5%;
        z-index: 30;
        transform: scale(0);
        animation: fungi-show 1500ms ease forwards;
      }

      #the-end-base {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        animation: room-load 400ms ease-in;
        z-index: 40;
      }

      #guy-psych-left {
        position: absolute;
        width: 10%;
        top: 47%;
        left: 15%;
        z-index: 41;
        transform: scale(0);
        animation: guys-show 400ms ease-in forwards;
      }

      #guy-psych-right {
        position: absolute;
        width: 10%;
        top: 46%;
        left: 56%;
        z-index: 41;
        transform: scale(0);
        animation: guys-show 400ms ease-in forwards;
      }

      #guy-shut {
        position: absolute;
        width: 20%;
        top: 34%;
        left: 30%;
        z-index: 41;
        transform: scale(0);
        animation: guys-show 400ms ease-in forwards;
      }

      #hand-left-one {
        position: absolute;
        width: 20%;
        top: 35%;
        left: 0;
        z-index: 41;
        transform: scale(0);
        animation: hand-show 400ms ease-in forwards;
        animation-delay: 600ms;
      }

      #hand-left-two {
        position: absolute;
        width: 30%;
        top: 10%;
        left: 10%;
        z-index: 41;
        transform: scale(0);
        animation: hand-show 800ms ease-in forwards;
        animation-delay: 1200ms;
      }

      #hand-right-one {
        position: absolute;
        width: 20%;
        top: 35%;
        right: 0;
        z-index: 41;
        transform: scale(0);
        animation: hand-show 800ms ease-in forwards;
        animation-delay: 1800ms;
      }

      #hand-right-two {
        position: absolute;
        width: 30%;
        top: 20%;
        right: 10%;
        z-index: 41;
        transform: scale(0);
        animation: hand-show 800ms ease-in forwards;
        animation-delay: 2400ms;
      }

      #en-remolinos {
        position: absolute;
        width: 30%;
        top: 25%;
        left: 30%;
        z-index: 100;
      }

      #firelink {
        position: absolute;
        width: 5%;
        top: 32%;
        left: 58%;
        z-index: 12;
        transform: scale(0);
        animation: firelink-show 400ms ease-in forwards;
      }

      #consciousness {
        position: absolute;
        width: 9%;
        top: 23%;
        left: 39%;
        z-index: 26;
        transform: scale(0);
        opacity: 0.7;
        animation: firelink-show 400ms ease-in forwards;
      }

      #skull {
        position: absolute;
        width: 6%;
        top: 31%;
        left: 40%;
        z-index: 25;
        transform: scale(0) rotate(15deg);
        opacity: 0.7;
        animation: skull-show 400ms ease-in forwards;
      }

      #psych-cat {
        position: absolute;
        width: 13%;
        top: 42%;
        right: 10%;
        z-index: 40;
      }
      
      #afraid {
        position: absolute;
        width: 15%;
        top: 16%;
        left: 25%;
        z-index: 40;
        transform: scale(0);
        animation: dsotm-scale 400ms ease-in-out infinite;
      }

      #brain-damage {
        position: absolute;
        width: 10%;
        top: 12%;
        left: 55%;
        z-index: 40;
        transform: skew(0);
        animation: dsotm-skew 400ms ease-in-out infinite;
      }

      #hand {
        position: absolute;
        width: 8%;
        top: 36%;
        right: 25%;
        z-index: 40;
        transform: scale(0);
        animation: dsotm-scale 800ms ease-in-out infinite;
      }

      #decision {
        position: absolute;
        width: 10%;
        top: 34%;
        right: 4%;
        z-index: 40;
      }

      #trap {
        position: absolute;
        width: 3%;
        bottom: 36%;
        left: 54.5%;
        z-index: 40;
        transform: scale(0);
        animation: dsotm-scale 400ms ease-in-out infinite;
      }

      #open-it {
        position: absolute;
        width: 4%;
        top: 48%;
        right: 41%;
        z-index: 40;
        transform: scale(0);
        animation: dsotm-scale 1500ms ease-in-out infinite;
      }

      #be-curious {
        position: absolute;
        width: 5%;
        top: 59%;
        right: 22%;
        z-index: 40;
        transform: scale(0);
        animation: dsotm-scale 1500ms ease-in-out infinite;
      }

      #reality {
        position: absolute;
        width: 13%;
        bottom: 12%;
        right: 18%;
        z-index: 40;
        transform: skew(0);
        animation: dsotm-skew 400ms ease-in-out infinite;
      }

      #eclipse {
        position: absolute;
        width: 10%;
        top: 19%;
        left: 10%;
        z-index: 40;
      }

      #noise {
        position: absolute;
        width: 6%;
        top: 51%;
        left: 16%;
        z-index: 40;
        transform: scale(0);
        animation: dsotm-scale 400ms ease-in-out infinite;
      }

      #flow {
        position: absolute;
        width: 15%;
        top: 26%;
        left: 47%;
        z-index: 40;
        transform: scale(0);
        animation: dsotm-scale 2000ms ease-in-out infinite;
      }

      #eye {
        position: absolute;
        width: 10%;
        bottom: 20%;
        left: 40%;
        z-index: 40;
      }

      #ta-te-ti {
        position: absolute;
        width: 10%;
        bottom: 25%;
        left: 21%;
        z-index: 40;
      }

      #vinyl-spiral {
        position: absolute;
        width: 10%;
        top: 45%;
        right: 24%;
        z-index: 40;
      }

      #infinite {
        position: absolute;
        width: 1%;
        top: 56%;
        left: 70%;
        z-index: 40;
      }

      #responsible {
        position: absolute;
        width: 8%;
        bottom: 31%;
        right: 32%;
        z-index: 40;
      }

      #here-now {
        position: absolute;
        width: 5%;
        top: 15.7%;
        left: 48%;
        z-index: 40;
      }

      #base-dsotm {
        position: absolute;
        width: 106.5%;
        top: -1%;
        left: -3.5%;
        z-index: 39;
      }

      #beatles-show {
        position: absolute;
        width: 19%;
        right: 17%;
        bottom: 14%;
        z-index: 34;
        opacity: 0.5;
        transform: scale(0);
        animation: cerati-animation 500ms ease-in forwards;
      }

      #stephen-hawking {
        position: absolute;
        width: 12%;
        right: 19%;
        bottom: 14%;
        z-index: 34;
        opacity: 0.4;
        transform: scale(0);
        animation: cerati-animation 500ms ease-in forwards;
      }

      #syd {
        position: absolute;
        width: 5%;
        top: 35%;
        left: 23%;
        z-index: 3;
        opacity: 0.6;
        transform: scale(0) translateY(0);
        animation: syd-diamond 3000ms ease-in;
      }

      #jimi {
        position: absolute;
        width: 0;
        top: 0;
        left: 0;
        z-index: 30;
      }
    }
  }

  .amp {
    width: 11.1%;
    top: 46.4%;
    left: 10.7%;
    z-index: 4;
    
    .tooltip {
      width: 140px;
      top: 75%;
      left: 0%;
    }
  }

  .ashtray {
    width: 4.5%;
    top: 47%;
    left: 48%;
    z-index: 27;
    cursor: inherit;

    .tooltip {
      bottom: 50%;
      right: 100%;
    }
  }
  
  .artaud {
    width: 7%;
    top: 15%;
    left: 46.5%;
    z-index: 5;
    
    .tooltip {
      top: -150%;
      left: 50%;
    }
  }
  
  .base {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0; 
    opacity: 0.8;
    cursor: inherit;
  }

  .beer {
    width: 3.5%;
    top: 46%;
    left: 31%;
    z-index: 26;

    .tooltip {
      bottom: 50%;
      right: 100%;
    }
  }

 .beer:active, .beer:focus {
    animation: beer-open 500ms ease;
  }

  .cables {
    width: 8.7%;
    top: 47.7%;
    right: 16%;
    z-index: 15;
    cursor: inherit;
  }
  
  .cactus {
    width: 6%;
    top: 49.2%;
    right: 10.5%;
    z-index: 15;

    .tooltip {
      bottom: 100%;
      right: 0;
    }
  }

  .cancion-animal {
    width: 6%;
    top: 51.2%;
    left: 62.2%;
    z-index: 33;

    .tooltip {
      top: -100%;
      left: 100%;
      min-height: 150px;
    }
  }

  .cushions {
    width: 24%;
    bottom: 12%;
    left: 33%;
    z-index: 3;
    cursor: inherit;
  }

  .dsotm {
    width: 6.5%;
    top: 23.3%;
    left: 12.4%;
    z-index: 6;

    .tooltip {
      bottom: 50%;
      left: 100%;
    }
  }

  .guy {
    width: 20%;
    top: 33.7%;
    left: 31%;
    z-index: 25;

    .tooltip {
      bottom: 100%;
      right: 0;
    }
  }

  .electricity {
    width: 2.5%;
    top: 52%;
    left: 8%;
    z-index: 1;
    cursor: inherit;
  }

  .electric-guitar {
    width: 6%;
    top: 29%;
    left: 23%;
    z-index: 5;

    .tooltip {
      left: 0;
      bottom: 100%;
    }
  }

  .eg-stand {
    width: 5.5%;
    bottom: 45%;
    left: 23.7%;
    z-index: 2;
    cursor: inherit;
  }

  .headphones {
    width: 4.5%;
    top: 41.5%;
    right: 14.8%;
    z-index: 12;

    .tooltip {
      bottom: 50%;
      right: 100%;
    }
  }

  .hp-support {
    width: 3%;
    top: 41.5%;
    right: 14.8%;
    z-index: 11;

    .tooltip {
      bottom: 50%;
      right: 100%;
    }
  }

  .key-west {
    width: 4.8%;
    top: 53.5%;
    right: 34%;
    z-index: 16;


    .tooltip {
      top: 0;
      right: 100%;
    }
  }

  .la-biblia {
    width: 8%;
    bottom: 20%;
    right: 32%;
    z-index: 3;

    .tooltip {
      bottom: 50%;
      right: 100%;
    }
  }

  .lamp {
    width: 5%;
    top: 41%;
    left: 63.6%;
    z-index: 12;

    .tooltip {
      width: 120px;
      top: -75%;
      left: -100%;
    }
  }

  .laptop {
    width: 9%;
    top: 59.5%;
    left: 50%;
    z-index: 13;

    .tooltip {
      top: 0;
      right: 100%;
    }
  }
 
  .left-speaker {
    width: 6.5%;
    top: 36.2%;
    left: 56.8%;
    z-index: 11;
    cursor: inherit;

    .tooltip {
      top: -100%;
      right: 0;
    }
  }

  .little-plant {
    width: 3%;
    top: 42.5%;
    right: 35.3%;
    z-index: 11;
    cursor: inherit;

    .tooltip {
      top: 50%;
      right:0;
    }
  }

  .lupe {
    width: 3%;
    top: 56%;
    right: 27%;
    z-index: 25;

    .tooltip {
      top: 50%;
      right: 0;
    }
  }

  .paint {
    width: 13%;
    bottom: 35%;
    left: 24%;
    z-index: 3;

    .tooltip {
      top: 75%;
      right: 25%;
    }
  }
  
  .plant {
    width: 4.5%;
    bottom: 8.5%;
    right: 38.5%;
    z-index: 13;

    .tooltip {
      bottom: 50%;
      right: 0;
    }
  }

  .psylocibin {
    width: 4.5%;
    top: 11%;
    left: 33%;
    z-index: 2;
    
    img {
      opacity: 0.3;
    }
    
    .tooltip {
      width: 120px;
      bottom: 100%;
      left: 0;

      &-content {
        height: 50px;
      }

      &-generic {
        padding: 15% 0;
      }
    }
  }

  .preamp {
    width: 3.5%;
    top: 52%;
    right: 23%;
    z-index: 10;

    .tooltip {
      bottom: 50%;
      right: 100%;
    }
  }

  .right-speaker {
    width: 6.5%;
    top: 48.5%;
    right: 17.2%;
    z-index: 11;
    cursor: inherit;

    .tooltip {
      top: 100%;
      right: 0;
    }
  }

  .sabiduria-loco {
    width: 4%;
    top: 27%;
    left: 62%;
    z-index: 6;
    
    img {
      opacity: 0.7;
    }

    .tooltip {
      bottom: 50%;
      left: 50%;
    }
  }

  .stand {
    width: 31%;
    top: 41%;
    left: 54%;
    z-index: 1;
    cursor: inherit;
  }

  .stalker {
    width: 5.5%;
    top: 59.5%;
    right: 21.5%;
    z-index: 28;
  }

  .sunglasses {
    width: 4%;
    top: 58%;
    right: 28%;
    z-index: 1;
    cursor: inherit;
  }

  .table {
    width: 26%;
    top: 56.9%;
    right: 31.3%;
    z-index: 2;
    cursor: inherit;
  }

  .triangle {
    width: 7%;
    top: 32.5%;
    right: 23%;
    z-index: 1;

    .tooltip {
      bottom: 100%;
      right: -100%;
    }
  }

  .turntable {
    width: 11%;
    top: 45.3%;
    right: 24.3%;
    z-index: 13;

    .tooltip {
      width: 100px;
      top: 0;
      left: 0;

      &-generic {
        padding: 5% 0;
      }
    }
  }

  .weed {
    width: 3.5%;
    bottom: 35.7%;
    left: 44.4%;
    z-index: 12;

    .tooltip {
      top: 0;
      right: 100%;
    }
  }

  .weed:hover {
    animation: weed-hover 500ms ease;
  }
}


@keyframes room-load {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes cerati-animation {
  0% {
    transform: scale(0);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes artaud-animation {
  0% {
    transform: skew(0, 0) scale(0);
  }
  
  100% {
    transform: skew(0deg, -30deg) scale(1);
  }
}

@keyframes moris {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes stalker-display {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes weed-hover {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes beer-open {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(15deg);
  }

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes la-biblia-vinyl {
  0% {
    transform: translate(0, 0) scale(0);
  }

  100% {
    transform: translate(50%, 50%) scale(1);
  }
}

@keyframes mescal-show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fungi-show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hand-show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes guys-show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes ca-vinyl {
  0% {
    transform: translate(20px, -20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes firelink-show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes skull-show {
  0% {
    transform: scale(0) rotate(0);
  }

  100% {
    transform: scale(1) rotate(15deg);
  }
}

@keyframes dsotm-scale {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes dsotm-skew {
  0% {
    transform: skew(0);
  }

  50% {
    transform: skew(18deg, 18deg);
  }

  100% {
    transform: skew(0);
  }
}

@keyframes snake {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes syd-diamond {
  0% {
    transform: scale(0) translateY(0);
  }

  50% {
    transform: scale(1) translateY(-500%);
  }

  100% {
    transform: scale(0) translateY(-1000%);
  }
}

/* Celular */
@media only screen 
and (min-width: 375px) 
and (max-width: 812px) {
    .room {
      .module {
        &-animation {
          #mescal {
            top: -100%;
            left: 0;
            width: 80vw;
            z-index: 40;
          }

          #hal9000 {
            z-index: 35;
          }

          #moris {
            z-index: 37;
          }

          #moris-soul {
            z-index: 36;
          }
        }
      }

      .amp {
        z-index: 25;

        .tooltip {
          top: 100%;
          bottom: unset;
          left: 0;
        }
      }

      .artaud {
        .tooltip {
          top: unset;
          right: unset;
          bottom: 100%;
          left: -100px;
        }
      }

      .cancion-animal {
        top: 50%;
        z-index: 27;

        .tooltip {
          left: unset;
          top: unset;
          right: -100%;
          bottom: 100%;
        }
      }

      .key-west {
        z-index: 27;
        
        .tooltip {
          top: unset;
          bottom: 100%;
          right: -65px;
        }
      }

      .lamp {
        .tooltip {
          top: -150%;
        }
      }

      .laptop {
        z-index: 34;

        .tooltip {
          top: unset;
          right: unset;
          bottom: 100%;
          left: -100px;
        }
      }

      .left-speaker {
        .tooltip {
          top: unset;
          bottom: 100%;
          right: -100px;
        }
      }

      .plant {
        z-index: 35;

        .tooltip {
          bottom: 100%;
          left: 0;
        }
      }

      .dsotm {
        .tooltip {
          bottom: 100%;
          left: -100%;
        }
      }

      .sabiduria-loco {
        .tooltip {
          bottom: 100%;
          left: -150px;
        }
      }

      .paint {
        z-index: 33;

        .tooltip {
          bottom: 100%;
          top: unset;
          right: unset;
        }
      }

      .plant {
        .tooltip {
          bottom: 75%;
          left: -100px;
        }
      }

      .turntable {
        .tooltip {
          top: -75%;
        }
      }

      .cactus {
        z-index: 26;
      }

      .guy {
        .tooltip {
          bottom: 100%;
          right: -100%;
        }
      }

      .lupe {
        width: 2.5%;
        top: 53%;
        right: 28%;
      }

      .sunglasses {
        top: 56%;
      }

      .preamp {
        top: 50%;
      }

      .la-biblia {
        width: 7.5%;
      }

      .weed {
        z-index: 30;

        .tooltip {
          right: unset;
          top: unset;
          left: 0;
          bottom: 100%;
        }
      }
    }
  }

@media only screen
and (min-width: 375px)
and (max-width: 812px)
and (orientation: 'landscape') {
    .room {
      .amp {
        z-index: 25;

        .tooltip {
          top: unset;
          right: unset;
          bottom: -50%;
          left: -100%;
        }
      }

      .cancion-animal {
        top: 51%;
      }

      .lupe {
        top: 55%;
      }

      .sunglasses {
        top: 58%;
      }

      .preamp {
        top: 52%;
      }

      .paint {
        z-index: 33;
      }
    }
  }

  

/* ----------- Tablets ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-width: 812px) 
and (max-width: 1280px)
and (orientation: 'portrait') {
  .room {
    .module {
      &-animation {
        #mescal {
          top: -50%;
          left: 3.5%;
          width: 80vw;
          z-index: 40;
        }
      }
    }

    .artaud {
      .tooltip {
        bottom: 0;
        left: 100%;
      }
    }
  }
}

@media only screen 
and (min-width: 812px) 
and (max-width: 1280px)
and (orientation: 'landscape') {
  .room {
    .dsotm {
      z-index: 26;

      .tooltip {
        bottom: 0;
      }
    }

    .sabiduria-loco {
      .tooltip {
        bottom: 0;
        left: 100%;
      }
    }

    .guy {
      .tooltip {
        bottom: 85%;
        right: -50%;
      }
    }
  }
}