.room {
  width: 80%;
  margin: 0 auto;
  position: relative;

  .module {
    &-image {
      position: absolute;
      cursor: pointer;

      img {
        width: 100%;
      }
    }

    &-animation {
      #dsotm {
        width: 113%;
        position: absolute;
        top: -3.5%;
        left: -6.5%;
        animation: hero-load 1200ms ease-in-out;
        z-index: 99;
      }

      #key-west {
        width: 40%;
        position: absolute;
        top: 3%;
        left: 0;
        z-index: 0;
      }
    }
  }

  .amp {
    width: 12%;
    top: 47%;
    left: 6%;
    z-index: 1;
  }

  .artaud {
    width: 8%;
    top: 15%;
    left: 46.5%;
    z-index: 1;
  }

  .base {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 0; 
    cursor: inherit;
  }

  .cactus {
    width: 7%;
    top: 49%;
    right: 6%;
    z-index: 1;
  }

  .cancion-animal {
    width: 7%;
    top: 49%;
    left: 62%;
    z-index: 5;
  }

  .dsotm {
    width: 8%;
    top: 25%;
    left: 6%;
    z-index: 1;
  }

  .guy {
    width: 27%;
    top: 27%;
    left: 25%;
    z-index: 1;
    cursor: inherit;
  }

  .right-hand {
    width: 3.5%;
    top: 39.5%;
    left: 35.5%;
    z-index: 2;
  }

  .electricity {
    width: 3%;
    top: 52%;
    left: 2%;
    z-index: 1;
  }

  .eyes {
    width: 3%;
    top: 31%;
    left: 38.6%;
    z-index: 2;
  }

  .key-west {
    width: 6.5%;
    top: 54%;
    right: 32%;
    z-index: 6;
  }

  .lamp {
    width: 5%;
    top: 41%;
    left: 63.5%;
    z-index: 2;
  }

  .lamp:hover {
    fill: red;
  }

  .laptop {
    width: 11%;
    top: 59%;
    left: 49%;
    z-index: 3;
  }

  .left-speaker {
    width: 7%;
    top: 36%;
    left: 57.5%;
    z-index: 1;
  }

  .little-plant {
    width: 3.2%;
    top: 50%;
    right: 22%;
    z-index: 4;
  }

  .lupe {
    width: 3%;
    top: 56%;
    right: 27%;
    z-index: 1;
  }
  
  .plant {
    width: 5%;
    bottom: 45%;
    left: 19%;
    z-index: 1;
    cursor: inherit;
  }

  .plant-top {
    width: 5.5%;
    bottom: 50.5%;
    left: 18.5%;
    z-index: 1;
    cursor: inherit;
    transform: skew(0, 0);
    animation: plant-top-animation 1s ease-in-out infinite;
  }

  .right-speaker {
    width: 7%;
    top: 49%;
    right: 15%;
    z-index: 5;
  }

  .sofa {
    width: 43%;
    bottom: 6%;
    left: 19%;
    z-index: 2;
  }

  .stand {
    width: 48%;
    top: 2.5%;
    left: 53%;
    z-index: 0;
    cursor: inherit;
  }

  .sunglasses {
    width: 5%;
    top: 58.8%;
    right: 26%;
    z-index: 1;
  }

  .table {
    width: 27%;
    top: 58%;
    right: 31%;
    z-index: 1;
    cursor: inherit;
  }

  .triangle {
    width: 7%;
    top: 35%;
    right: 21%;
    z-index: 1;
  }

  .turntable {
    width: 13%;
    top: 44%;
    right: 22%;
    z-index: 3;
  }
}


@keyframes eyes-animation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-25%);
  }
  
  100% {
    transform: translateX(0);
  }
}

@keyframes plant-top-animation {
  0% {
    transform: skew(0, 0)
  }
  
  50% {
    transform: skew(5deg, 5deg)
  }
  
  100% {
    transform: skew(0, 0)
  }
}

@keyframes guy-hand-animation {
  0% {
    transform: 
    rotate(0)
    skew(0, 0);
  }

  50% {
    transform:
    rotate(15deg)
    skew(10deg, 0);
  }
  
  100% {
    transform:
    rotate(0)
    skew(0, 0);
  }
}